# Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# IDE-specific files
.vscode/
.idea/

# Heroku files
*.sqlite3
*.log

# Static files (if not tracked)
static/
templates/

# macOS files
.DS_Store

# Windows files
Thumbs.db